<!doctype html>
<html>
<head>
    {% load static %}
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="{% static 'mycourses/style.css'%}">
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <script type="text/javascript" src="{% static 'mycourses/script.js'%}"></script>
    <title>COURSES!</title>
</head>
<body>
    <div class="wrapper">
        <div class="addcoursediv">
            <h2>Add a new course</h2>
            <form action="/courses/addcourse" method="post">
                {% csrf_token %}
                <label for="crs_name_input">Name: </label><input id='crs_name_input' name='c_name' type="text" size="35" style="font-family:sans serif"><br>
                <label for="crs_dsc_input">Description: </label><textarea id="crs_dsc_input" name='c_desc' cols="36" rows="4" style="font-family:sans serif"></textarea>
                <button type="submit">Add</button>
            </form>
        </div>
        <div class="errordiv">
            {% if messages %}
                <ul class="messages">
                    {% for message in messages %}
                        <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>
                        {{ message }}
                        </li>
                    {% endfor %}
                </ul>
            {% endif %}
        </div>
        <div class="coursesdiv">
            <h2>Courses</h2>
                <table id="coursesid">
                    
                    <tr>
                        <th style="width: 320px;">Course Name</th>
                        <th style="width: 220px;">Description</th>
                        <th style="width: 160px;">Date Added</th>
                        <th style="width: 90px;"class="rowend">Action</th>
                    </tr>
                    {% for course in courses %}
                        <tr style="border-top: 1px solid black">
                            <td>{{course.name}}</td>  
                                {% for description in course.course_name.all %}
                                    <td>{{description.description}}</td>
                                {% endfor %}
                            <td>{{course.created_at}}</td>
                            <td><a href='/courses/deletecourse/{{course.id}}'>Delete</a></td>
                        </tr>
                    {% endfor %}
                </table>
        </div>

    </div>

</body>
</html>