<!doctype html>
<html>
<head>
    {% load static %}
    <meta charset="UTF-8">
    <title>Untitled Document</title>
</head>
<body>
    {% if messages %}
    <h1>SUCCESS! Welcome, {{request.session.user}}!</h1>
        {% for message in messages %}
            <p>{{message}}</p>
        {% endfor %}
    {% endif %}
    
    <h1 style="text-decoration:underline;">Registered users</h1>
    {% for user in allusers %}
        <p>{{user.first_name}} {{user.last_name}} {{user.email}}</p>
    {% endfor %}
</body>
</html>